@tailwind base;

@font-face {
    font-display: swap;
    font-family: "Brown Sugar";
    font-style: normal;
    src: url("/brown-sugar.otf") format("opentype"),
        url("/brown-sugar.ttf") format("truetype");
}

@font-face {
    font-family: "Satoshi-Variable";
    src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
        url("../fonts/Satoshi-Variable.woff") format("woff"),
        url("../fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

.site-bg {
    background-image: url(./assets/grid.svg), url(./assets/noise.svg);
    background-position: center top;
    background-size: auto;
    background-color: #010101;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.metallic-border {
    border-image: linear-gradient(
            90deg,
            #55555550 0%,
            #ffffff50 49%,
            #55555550 100%
        )
        1;
}

.skill > svg {
    width: fit;
    height: 32px;
}

.project-stack > svg {
    width: fit;
    height: 20px;
}

.project-badge {
    @apply px-2 h-7 xl:h-8 grid place-content-center mt-0 font-satoshi font-normal text-sm xl:text-base tracking-[.01em] !leading-none rounded-2xl min-w-14;
}

.freelance-badge {
    @apply bg-emerald-500/10 !text-emerald-500 border-emerald-500 border;
}

.team-badge {
    @apply bg-sky-500/10 !text-sky-500 border-sky-500 border;
}

.open-source-badge {
    @apply bg-yellow-400/10 !text-yellow-400 border-yellow-400 border;
}

.personal-badge {
    @apply bg-off-white/10 !text-off-white border-off-white border;
}

.name .word {
    @apply opacity-0 blur-[8px] translate-y-12 lg:translate-y-28;
}

.experience .char {
    @apply opacity-10 translate-y-1;
}

.heading {
    @apply mt-4 md:mt-6 text-center font-brown-sugar text-[32px] md:text-[52px] text-off-white -tracking-[.02em] !leading-none scale-50 opacity-0;
}

@tailwind components;
@tailwind utilities;
