@tailwind base;
@font-face {
  font-display: swap;
  font-family: "Brown Sugar";
  font-style: normal;
  src: url("/brown-sugar.otf") format("opentype"),
    url("/brown-sugar.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  src: url("/Satoshi-Bold.otf") format("opentype");
}
@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  src: url("/Satoshi-Medium.otf") format("opentype");
}
@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  src: url("/Satoshi-Regular.otf") format("opentype");
}
@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 300;
  src: url("/Satoshi-Light.otf") format("opentype");
}

.site-bg {
  background-image: url(./assets/grid.svg), url(./assets/noise.svg);
  background-position: left top;
  background-size: cover;
  background-color: #010101;
}
@tailwind components;
@tailwind utilities;
